@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
.heading {
  font-family: "Inter";
  font-weight: 700;
  font-size: 3.5vw;
  text-align: center;
  color: #ad0909;
  margin: 1.25rem 0;
  padding: 1.25rem 0;
}

/* membership plans start */
.membership-flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: end;
  width: 95%;
  margin: auto;
}
.container {
  position: relative;
  width: 25%;
  /* background: #4b9eac; */
  background-color: #d87373;
  border-radius: 20px;
  padding: 1.25rem 0;
  font-family: "Inter";
  font-weight: 700;
  color: #fff;
}

.corner-img {
  width: 30%;
}

.left-corner-img {
  position: absolute;
  top: 0%;
  left: 0%;
}

.right-corner-img {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.price {
  font-size: 2em;
  letter-spacing: 0.01em;
  text-align: center;
}

.text-around-price {
  font-size: 0.9em;
  line-height: 2.625rem;
  letter-spacing: 0.01em;
  text-align: center;
}

.italic {
  font-style: italic;
  text-decoration: underline;
}

.rect-center-img {
  display: block;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  font-size: 1em;
  line-height: 3.125rem;
  letter-spacing: 0.01em;
  text-align: left;
  justify-content: center;
}

.grid p {
  opacity: 80%;
}

.right-mark {
  display: block;
  margin: auto;
  width: 20px;
}

.join-button {
  background-color: gold;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0px 2.75rem;
  border-radius: 40px;
  display: block;
  margin: 0.625rem auto;
  cursor: pointer;
  font-size: 1em;
  line-height: 3rem;
  letter-spacing: 0.01em;
}

.rect-bottom-img {
  display: none;
  margin: 0 auto;
}

.container1 {
  transform: scale(1.2);
  margin: 3rem;
  background-color: #9c0808;
  transition: all ease-out 0.4s;
}
.container1 .join-button {
  background-color: gold;
}

/* memebership plan ends */
.bottom-img-div {
  display: flex;
  justify-content: center;
}

/* Footer section*/
.footer {
  background:#AD0909;
  text-align: center;
  padding-top: 1rem;
}
.logo-img {
  padding-bottom: 2rem;
}
.logo-img img {
  width: 200px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  width: 70%;
  margin: 0 auto;
}
.foot-links-div {
  width: 20%;
}
.links-title {
  color: #ffffff;
  font-size: 24px;
  padding: 1.2rem 1rem;
}
.foot-links {
  border-top: 1px solid #dd9b9b;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
.foot-links li {
  padding: 0.4rem;
}
.foot-links > li > a {
  color: #ffffff;
  opacity: 0.6;
  font-size: 20px;
}
.footer-links .social-links {
  width: 100%;
}
.social-links .social-title {
  width: 100%;
  margin: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}
.social-links .social-icons {
  width: 80%;
  height: 100%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.social-icons .social-icons-link {
  width: 40px;
  height: 30px;
}
.social-icons-link img {
  width: 100%;
  height: 100%;
}
.footer .footer-end {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #cbcbcb;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding: 1rem 0;
}
.footer-end .privacy-policy {
  padding: 0 2rem;
  border-left: 0.2rem solid #cbcbcb;
  border-right: 0.2rem solid #cbcbcb;
}
.footer-end .terms-condtns {
  padding-right: 3rem;
}
.footer-end .contact-us {
  padding-left: 3rem;
}

@media (min-width:320px) and (max-width: 550px) {
  .navbar {
    width: 100%;
    height: 50px;
}
.navbar .profile #circle{
    display: none;
}
.navbar .nav-links li {
    display: none;
}
.profile .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}
.profile .profile-icon img {
    height: 20px;
}
.navbar #menu {
    display: initial;
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
}
.navbar .logo {
    margin-left: 1rem;
    width: 25%;
}
.logo img {
    width: 100%;
    height: 100%;
}


  .profile .profile-icon img {
    height: 20px;
  }

  .membership-flex {
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
  }

  /* un-focused Container */
  .heading {
    font-size: 2.5em;
  }
  .container {
    background-color: #9c0808;
    width: 100%;
  }
  .price {
    font-size: 2em;
  }
  .text-around-price {
    font-size: 0.7em;
    line-height: 1.5rem;
  }
  .grid {
    font-size: 1em;
    line-height: 2.5rem;
  }
  .join-button {
    background-color: #37ac00;
    font-size: 1em;
  }
  .rect-bottom-img {
    display: block;
  }

  .bottom-img2 {
    display: none;
  }
  .bottom-img3 {
    display: none;
  }
  .container1 {
    transform: none;
    transition: none;
  }

  /* Footer */
  .logo-img img {
    width: 100px;
  }
  .footer-links {
    width: 100%;
    justify-content: space-around;
  }
  .foot-links-div {
    width: 25%;
  }
  .links-title {
    padding: 0;
    padding-bottom: 0.7rem;
    font-size: 12px;
  }
  .foot-links {
    padding: 1rem 0;
  }
  .foot-links li {
    padding: 0rem;
  }
  .foot-links > li > a {
    font-size: 10px;
  }
  .social-links .social-title {
    font-size: 12px;
  }
  .social-links .social-icons {
    padding: 0;
  }
  .social-icons > img {
    padding: 1rem 0;
    width: 50px;
    height: 50px;
  }
  .footer .footer-end {
    font-size: 10px;
  }
  .footer-end .terms-condtns {
    padding-right: 1rem;
  }
  .footer-end .privacy-policy {
    padding: 0 1rem;
  }
  .footer-end .contact-us {
    padding-left: 1rem;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 50px;
}
.navbar .profile #circle{
    display: none;
}

.navbar .nav-links li {
    display: none;
}

.profile .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}
.profile .profile-icon img {
    height: 20px;
}

.navbar #menu {
    display: initial;
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
}
.navbar .logo {
    width: 20%;
    margin-left: 1rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

  /* body */
  .membership-flex {
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
  }

  /* focused container */
  .heading {
    font-size: 3em;
  }
  .container {
    width: 90%;
    background-color: #9c0808;
  }
  .price {
    font-size: 2.5em;
  }
  .text-around-price {
    font-size: 0.9em;
    line-height: 1.5rem;
  }
  .grid {
    font-size: 1em;
    line-height: 2.5rem;
  }
  .join-button {
    font-size: 1em;
  }

  .rect-bottom-img {
    display: block;
  }

  .bottom-img1 {
    width: 50%;
  }
  .bottom-img2 {
    display: block;
    width: 50%;
  }
  .bottom-img3 {
    display: none;
  }
  .container1 {
    transform: none;
    margin: auto;
    transition: none;
  }

  /* Footer */
  .logo-img img {
    width: 100px;
  }
  .footer-links {
    width: 100%;
    justify-content: space-around;
  }
  .foot-links-div {
    width: 25%;
  }
  .links-title {
    padding: 0;
    padding-bottom: 0.7rem;
    font-size: 14px;
  }
  .foot-links {
    padding: 1rem 0;
  }
  .foot-links li {
    padding: 0rem;
  }
  .foot-links > li > a {
    font-size: 12px;
  }
  .social-links .social-title {
    font-size: 14px;
  }
  .social-links .social-icons {
    padding: 0;
  }
  .social-icons > img {
    padding: 1rem 0;
    width: 50px;
    height: 50px;
  }
  .footer .footer-end {
    font-size: 12px;
    padding: 0.5rem 0;
  }
  .footer-end .terms-condtns {
    padding-right: 1rem;
  }
  .footer-end .privacy-policy {
    padding: 0 1rem;
  }
  .footer-end .contact-us {
    padding-left: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1100px) {

  /* body */
  .membership-flex {
    gap: .2rem;
  }

  .heading {
    font-size: 3em;
  }
  .container {
    width: 30%;
  }
  .price {
    font-size: 1.75em;
  }
  .text-around-price {
    font-size: 0.5em;
    line-height: 0.9rem;
  }
  .rect-center-img {
    height: 4rem;
  }
  .grid {
    font-size: 0.75em;
    line-height: 1.5rem;
    column-gap: 0.5rem;
  }
  .right-mark {
    height: .6rem;
  }
  .join-button {
    font-size: 0.75em;
    padding: 0px 1.75rem;
    border-radius: 15px;
  }
  .rect-bottom-img {
    height: 5rem;
  }
  .bottom-img-div {
    width: 80%;
    margin: 0 auto;
  }
  .bottom-img1 {
    width: 40%;
    display: block;
  }
  .bottom-img2 {
    width: 40%;
    display: block;
  }
  .bottom-img3 {
    width: 40%;
    display: block;
  }
  .container1 {
    margin: 2rem;
  }

  /* footer */

  .logo-img img {
    width: 100px;
  }
  .footer-links {
    width: 100%;
    justify-content: space-around;
  }
  .foot-links-div {
    width: 15%;
  }
  .links-title {
    padding: 0;
    padding-bottom: 0.7rem;
    font-size: 14px;
  }
  .foot-links {
    padding: 1rem 0;
  }
  .foot-links li {
    padding: 0.2rem;
  }
  .foot-links > li > a {
    font-size: 12px;
  }
  .social-links .social-title {
    font-size: 14px;
  }
  .social-links .social-icons {
    padding: 0;
  }
  .social-icons > img {
    padding: 1rem 0;
    width: 50px;
    height: 50px;
  }
  .footer .footer-end {
    font-size: 12px;
    padding: 0.5rem 0;
  }
  .footer-end .terms-condtns {
    padding-right: 1rem;
  }
  .footer-end .privacy-policy {
    padding: 0 1rem;
  }
  .footer-end .contact-us {
    padding-left: 1rem;
  }
}

@media (min-width: 1100px) and (max-width: 1450px) {
  .container {
    width: 50%;
  }

  .flex-barati-div {
    display: block;
    width: 25%;
    overflow: hidden;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .navbar {
    width: 100%;
    height: 50px;
}
.navbar .profile #circle{
    display: none;
}
.navbar .nav-links li {
    display: none;
}
.profile .profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}
.profile .profile-icon img {
    height: 20px;
}
.navbar #menu {
    display: initial;
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
}
.navbar .logo {
    width: 15%;
    margin-left: 1rem;
}
.logo img {
    width: 100%;
    height: 100%;
}
}
