@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inria+Serif:wght@900&family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

/* Navbar section */
#mobileview {
    width: 100%;
    height: 100vh;
    background-color: #AD0909;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 99;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#mobileview .ri-close-line {
    position: absolute;
    top: 2%;
    right: 5%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mobileview #nav-elements {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-family: 'Inter', sans-serif;
}

#nav-elements a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background:#AD0909;    
}

.navbar #menu {
    display: none;
}

.navbar .logo {
    height: 100%;
    width: 15%;
    background: #fff;
}

.logo img {
    width: 100%;
    height: 100%;
}
.navbar .nav-links {
    width: 85%;
    height: 100%;
    transition: all linear 1s;
}
.nav-links ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    list-style: none;
    height: 100%;
}
.nav-links ul li {
    text-transform: uppercase;
    font-size: 15px;
    padding: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all linear .5s;
}
li>a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.nav-links .profile {
    padding: 0 2rem;

}
.nav-links>ul>li:hover {
    background:#8d1616;
}
.nav-links .icons-item {
    font-size: 20px;
}



@media (min-width: 320px) and (max-width:550px) {
    .navbar {
        width: 100%;
        height: 50px;
    }
    .navbar .nav-links li {
        display: none;
    }
    .navbar #menu {
        display: initial;
        color: #fff;
        margin-left: 15px;
        font-size: 30px;
    }
    .navbar .logo {
        margin-left: 1rem;
        width: 25%;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 551px) and (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 50px;
    }
    .navbar .nav-links li {
        display: none;
    }
    .navbar #menu {
        display: initial;
        color: #fff;
        margin-left: 15px;
        font-size: 30px;
    }
    .navbar .logo {
        width: 20%;
        margin-left: 1rem;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        width: 100%;
        height: 50px;
    }
    .navbar .nav-links li {
        display: none;
    }
    .navbar #menu {
        display: initial;
        color: #fff;
        margin-left: 15px;
        font-size: 30px;
    }
    .navbar .logo {
        width: 15%;
        margin-left: 1rem;
    }
    .logo img {
        width: 100%;
        height: 100%;
    }
}